<head>
  <title>SUNGROW VN</title>
</head>
<body>
<div>
  <div><h1> &nbsp</h1></div>
<h2 style="text-align: center; color:orange;">Please enter the serial number in the box below to check the product warranty validity in Vietnam</h2>
<br>

<form method="GET">
    <label>
      <center>
        <input name="q" placeholder="Insert your serial number here ... " style="width: 20%;" />
      </center>
      <br>
      <center>
        <button type="submit" style="color: white; background-color: orange; border-color: orange;">Search</button>
      </center>
      <br>
    </label>
  </form>
</div>
<hr style="width: 70%;">
{% if q != '' %}
{% if b3 == 'Bảo hành tại Việt Nam' %}
<div style="color: rgb(14, 232, 6);">
  <center>
    <h3>{{b0}}</h3>
    <h3>{{b1}}</h3>
    <h3>{{b2}}</h3>
    <h3>{{b3}}</h3>
  </center>
</div>
{% else %}
<div style="color: rgb(233, 18, 18);">
  <center>
    <h3>Sản phẩm {{q}} không được bảo hành tại Việt Nam</h3>
  </center>
</div>
{% endif %}
</body>
{% endif %}